.fixtures {
	width: 100%;

	display: flex;
	flex-direction: column;
	/* flex: 2 1 100%; */
	
	background-color: bisque;
}

.match-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* flex: 2 1 100%; */
}